@import url(index.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

body {
    background-color: #E9E0D8;
    font-family: 'PT Sans', sans-serif;
    padding: 0 40px;
}

p,
ol,
ul,
dl,
table {
    margin: 0 0 2.5rem 0;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

h1 {
    color: #345995;
    font-size: 4rem;
    font-family: 'PT Serif', serif;
    margin: 0 0 0.5rem 0;
    line-height: 1;
}

h2 {
    color: #345995;
    margin: 0 0 1rem;
    font-family: 'PT Serif', serif;
    font-size: 2.5rem;
    line-height: 1;
    border: 5px solid #345995;
    padding: 1rem;
    text-align: center;
}

h3 {
    margin: 0 0 1rem 0;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    font-family: 'PT Serif', serif;
}

.Resume {
    background-color: #F5F1ED;
    box-shadow: 10px 10px 0px #333;
    max-width: 900px;
    margin: 40px auto;
    border: 8px #5982C5 solid;
    padding: 40px;
}

.Resume header {
    text-align: center;
}

.Resume header p {
    color: #62687F;
    font-size: 1.7rem;
    margin-bottom: 0;
}

.Resume>section {
    padding-top: 2rem;
}

.Resume>section>* {
    max-width: 800px;
    width: 100%;
}

.Resume>section::after {
    content: "";
    border-bottom: 2px solid #e3dede;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.Resume>section:last-child::after {
    border-bottom: 0px;
}

.Resume section>div h3 {
    margin-bottom: 0;
}

.Resume section>div h3+p {
    font-size: 1.2rem;
    margin: 0 0 0.75rem 0;
}

.Resume section>div h4 {
    margin: 0 0 0.5rem 0;
}

.Resume section>div ul {
    margin-top: 0.5rem;
}

.Resume>section.about p {
    margin-bottom: 0.5rem;
}

.Resume>section.about p+img {
    margin-bottom: 1.5rem;
}

.Resume section>div .date-range {
    display: block;
}

@media only screen and (min-width: 980px) {
    body {
        padding: 0;
    }

    h1 {
        margin: 0;
    }

    h2 {
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        border-right: 1px #919191 solid;
        padding: 0 1rem 5rem 0;
        margin: 0;
        text-align: left;
    }

    /* h2 span {
      display: inline-block;
      border-bottom: 5px #345995 solid;
      padding-bottom: 0.5rem;
    } */

    .Resume header {
        border-bottom: 5px solid #345995;
    }


    .Resume header p {
        margin-bottom: 2rem;
    }

    .Resume>section {
        padding: 0;
        display: grid;
        grid-template-columns: 3fr 7fr;
    }

    .Resume>header+section {
        padding-top: 2em;
    }

    .Resume>section::after {
        border-bottom: 0px;

    }

    .Resume>section>div {
        padding-left: 2rem;
    }

    .Resume>section.about>div {
        display: grid;
        grid-template-columns: 7fr 3fr;
        column-gap: 2rem;
    }

    .Resume>section.about>div img {
        border-radius: 50%;
    }

    .Resume>section.about p {
        margin-bottom: 2.5rem;
    }

    .Resume>section.about p+img {
        margin-bottom: 0;
    }

    .Resume section>div .date-range {
        display: inline-block;
    }
}