@import url(index.css);

body {
  background: #FAF9F9;
}

p, ol, ul, dl, table { margin: 0 0 2.5rem 0; }

h1 {
  color: #345995;
  font-size: 4rem;
  margin-bottom: 0;
}

h2 { 
  color: #5A8784; 
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.Resume {
  max-width: 1080px;
  margin: 0 auto;
}

.Resume header {
  border-bottom: 5px solid #555B6E;
  text-align: center;
}

.Resume header p {
  color: #62687F;
  font-size: 1.5rem;
}

.Resume > section {
  padding: 1rem 0 1rem 0;
}

.Resume > header + section {
  padding-top: 2rem;
}

.Resume > section > * {
  max-width: 800px;
  width: 100%;
}

.Resume > section::after {
    content: "";
    border-bottom: 2px solid #e3dede;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.Resume > section:last-child::after {
  border-bottom: 0px;
}

.Resume section > div h3 {
  margin-bottom: 0;
}

.Resume section > div h3 + p {
  font-size: 1.2rem;
  margin: 0 0 0.75rem 0;

}

.Resume section > div h4 {
  margin: 0 0 0.3rem 0;
}

.Resume section > div ul {
  margin-top: 0.5rem;
}
